* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.pic img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.bell img {
  height: 20px;
  width: 20px;
}
/*
.nav-1 {
  background-color: #65619E;
  margin: 0;
  display: grid;
  grid-template-rows: 15vh;
  grid-template-columns: 15% 65% 5% 5% 10%;
  justify-items: center;
  align-items: center;
}

.col-1 {
  grid-column: 1 / 2;
}

.col-3 {
  grid-column: 3 / 4;
  justify-self: end;
}

.col-4 {
  grid-column: 4 / span 1;

}

.col-5 {
  grid-column: 5 / 6;
  margin-right: 10px;
  justify-self: start;

} */

.main {
  display: grid;
  background-color: #65619E;
  margin: 0;
  grid-template-areas: 'app space bell line pic name';
  grid-template-rows: 12vh;
  grid-template-columns: 40% 10% 10% 10% 10% 20%;
  justify-items: center;
  align-items: center;
}

.app {
  grid-area: app;
  justify-self: start;
  margin-left: 10px;
}

.space {
  grid-area: space;
}

.bell {
  grid-area: bell;
  justify-self: end;
}

.line {
  grid-area: line;
  border-left: 1px solid grey;
  height: 6vh;
  justify-self: end;
}

.pic {
  grid-area: pic;
  justify-self: center;
}

.name {
  grid-area: name;
}

.item img {
  height: 30px;
  width: 25px;
}

.item {
  margin: 10px;
  text-align: center;
}

.nav-content {
  display: grid;
  grid-template-areas: 'vert-nav db-content';
  grid-template-columns: 0.5fr 9.5fr;
  grid-template-rows: 100%;
}

.vert-nav {
  background-color: #564483;
  grid-area: vert-nav;
}


.db-content {
  grid-area: db-content;
}

.db {
  display: flex;
  flex-wrap: wrap;
}

.dashboard {
  border-right: 1px solid lightgrey;
  width: 12%;
}

.search-box {
  text-align: right;
  width: 88%;
  border-bottom: 1px solid lightgrey;
  background-color: #faf8f8;
}

.search__bar {
  width: 40%;
  margin: 10px;
  padding: 12px 5px;
  border-radius: 5%;
  opacity: 0.5;

}

.name p {
  color: white;
}

.alert {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  background-color: #65619E;
  color: white;
  border-radius: 2.5%;
}

.alert p {
  margin: 10px;
}

.nullam {
  font-size: 0.75em;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 30px;
}

.b-chart, .d-chart {
  width: 50%;
  padding: 0 20px;
}

.b-chart {
  border-right: 1px solid lightgrey;
  height: 500px;
}

.lineChart {
  height: 500px;
  margin: 30px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.twitter, .facebook, .google {
  display: flex;
  border: 0.75px solid lightgrey;
  border-radius: 5%;
  background-color: #f4f2f2;
  padding: 40px 70px;
}


.circle {
  height: 60px;
  width: 60px;
  background-color: #564483;
  border-radius: 100%;
  text-align: center;
  margin-right: 15px;
}

.new-members {
  display: flex;
}

.new-members h5, a > p {
  padding: 0;
  margin: 0;
  font-size: 0.75em;
}

.new-members p {
  font-size: 0.75em;
}

.members a {
  text-decoration: none;
}

.recent-activity, .new-members {
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}

.last {
  border-bottom: none;
}

.recent-activity img, .new-members img{
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.nm h2, .ra h2 {
  font-size: 0.75em;
  margin-bottom: 30px;
  font-weight: bold;
}

.recent-activity h1 {
  margin: 0;
  padding: 0;
  color: #564483;
  font-size: 1em;
}

.activity {
  margin-bottom: 12px;
}

.activity > p {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
}

.members {
  margin-right: auto;
}

.recent-activity {
  display: flex;
}

.activity {
  margin-right: auto;
}

.final-layout {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}


.nm, .ra {
  width: 50%;
  padding: 30px;
}

.nm {
  border-right: 1px solid lightgrey;
}


svg {
  width: 35px;
  height: 35px;
  z-index: 1;
  margin-top: 15px;
  fill: white;
}

.facebook > .circle svg {
  margin-top: 10px;
}

.t-facts h1, h3 {
  margin: 0;
  padding: 0;
}

.t-facts h1 {
  color: grey;
}

.t-facts h3 {
  color: #564483
}

.app h1 {
  font-weight: normal;
  color: white;
  font-size: 28px;
  justify-self: end;
}

h2 {
  margin: 10px;
  margin-top: 15px;
}

sup {
  font-size: 16px;
}

.btn-bar button {
  width: 100%;
  padding: 10px;
  border-radius: 0.3em;
  background-color: #564483;
  color: white;
  font-size: 1em;
}

.msg h2, .buttons h2 {
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 0 12px;
}

.search-bar, .message-bar, .btn-bar {
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 0 20px;
}

.search-bar input {
 width: 100%;
 padding: 10px 5px;
 border-radius: 0.3em;
}

.message-bar input {
  width: 100%;
  padding: 10px  0 75px 5px;
  border-radius: 0.3em;
}

.footer {
  display: flex;
  margin-bottom: 30px;
}

.msg, .buttons {
  width: 50%;
}

.msg {
  border-right: 1px solid lightgrey;
  margin-top: 0;
}

.button-1, .button-2 {
  display: flex;
  justify-content: space-between;
}

.button-1 button, .button-2 button {
  margin: 10px;
  margin-right: 50px;
  padding: 10px 20px 10px 0px;
  border-radius: 0.9em;
  margin-left: 0;
  background-color: grey;
  color: white;
  font-size: 0.75em;
  font-weight: bold;
}

span {
  margin-right: 15px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
  padding: 3px 9px;
}

.button-1 p, .button-2 p, .timezone {
  margin-left: 20px;
}

.timezone input {
  width: 100%;
  border-radius: 0.3em;
  padding: 5px 0;
}
.timezone {
  margin: 5px 20px;
  margin-bottom: 0;
}

.timezone input {
  padding-left: 5px;
}

.button-3 {
  display: flex;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 15px;
}

.button-3 button {
  width: 50%;
  padding: 10px 0;
  border-radius: 0.3em;
  margin: 5px;
  font-size: 1em;
  color: white;
}

.button-3 button:nth-child(1) {
  background-color: #564483;
}

.button-3 button:nth-child(2) {
  background-color: lightgrey;
}
button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .main {
    grid-template-columns: 20% 60% 4% 1% 5% 10%;
  }

  .name {
    justify-self: start;
  }
}
